<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>galaxy player [BETA]</title>

		<script src="//unpkg.com/vue@3"></script>
		<script src="/js/libgalaxy.js"></script>
		<script defer src="/js/play.js"></script>

		<link rel="stylesheet" href="/style.css" />

		<style>

#header {
	margin-top: 50px;
	width: 750px;
}

#title {
	font-size: 40px;
	/* TODO import JBM somewhere */
	font-family: "JetBrains Mono", monospace;
}

#game {
	width: calc(100vw - 270px);
	height: 75vh;
	margin: 10px;
	/* TODO make this moddable */
	background: white;
}

#comments {
	width: 700px;
	/* wtf is this */
	max-width: min(80vw, 700px);
}

#rate1, #rate2, #rate3, #rate4, #rate5 {
	border-radius: 0;
	border-left: none;
	border-right: none;

	cursor: pointer;
}

#rate1 {
	background: linear-gradient(90deg, #660000 0%, #660000 50%, #662200 100%);
	border-radius: 7px 0 0 7px;
	border-left: solid thin gray;
}

#rate5 {
	background: linear-gradient(90deg, #226600 0%, #006600 50%, #006600 100%);
	border-radius: 0 7px 7px 0;
	border-right: solid thin gray;
}

#rate2 { background: linear-gradient(90deg, #662200 0%, #664400 50%, #665500 100%); }
#rate3 { background: linear-gradient(90deg, #665500 0%, #666600 50%, #556600 100%); }
#rate4 { background: linear-gradient(90deg, #556600 0%, #446600 50%, #226600 100%); }

/* #rate2 { background: #442200; }
#rate3 { background: #333300; }
#rate4 { background: #224400; }
 */
.comment {
	margin-bottom: 15px;
	overflow: hidden;
}

.comment-info {
	width: 700px;
	max-width: min(80vw, 700px);
}

.cvote {
	width: 24px;
	height: 24px;
	background: black;
	color: white;
	border: solid thin gray;
	font-size: 16px;
	padding: 0;
	border-radius: 0;
}

#cvote-agree {
	border-right: none;
}

#cvote-agree.picked {
	background: #006600;
}

#cvote-disagree.picked {
	background: #660000;
}

#compose-comment {
	width: 600px;
	margin: 10px 50px;
	height: 100px;
}

.dev-reply {
	width: 600px;
	background-color: #114;
	padding: 10px;
	margin: 5px;
}

#chat {
	float: right;
	width: 230px;
	margin-right: 5px;
	margin-top: 10px;
	height: 75vh;
	position: relative;

	background: #333;
}

#messages > p {
	overflow: hidden;
	margin: 0;
}

#messages > p:nth-child(2n+1) { background-color: #555; }
#messages > p:nth-child(2n) { background-color: #444; }

#chat-footer {
	position: absolute;
	bottom: 0;
}

#chat-footer > input {
	padding: 0;
	border: 0;
	background-color: #222;
	color: white;
	width: 230px;
	height: 15px;
	outline: none;
}

#replybtn {
	margin-left: 5px;
}

#reply {
	width: 686px;
	height: 150px;
	outline: none;
}

#postreply {
	width: 700px;
}

		</style>
	</head>
	<body onload="galaxy.init()">
		<div id="app">
			<top-bar></top-bar>

			<div class="flex-centerhoriz">
				<div id="header">
					<h1 id="title" class="nomargin">{{ data.game.name ?? "Loading" }}</h1>
					<span>
						by
						<a :href="'/user/' + data.game.author" class="masked-link padright">
							<img
								v-if="data.game.author"
								:src="'/static/img/pfp/small/' + data.game.author + '.webp'"
							/>
							<b>{{ data.author?.name }}</b>
						</a>
						<a v-if="user.id === data.game.author" :href="'/edit/' + data.game.id">
							<button>Edit game</button>
						</a>
					</span>
					<span class="floatright">
						<span class="fake-link padright" v-if="data.update" @click="updateVisible = !updateVisible">
							{{ updateVisible ? "Hide" : "Show" }} latest changelog
						</span>

						<button @click="rate(1)" id="rate1">1</button>
						<button @click="rate(2)" id="rate2">2</button>
						<button @click="rate(3)" id="rate3">3</button>
						<button @click="rate(4)" id="rate4">4</button>
						<button @click="rate(5)" id="rate5">5</button>

						<span>
							<span v-if="data.game.ratingCount > 0">{{ data.game.rating.toFixed(1) }} stars</span>
							({{ data.game.ratingCount }} rating{{data.game.ratingCount === 1 ? "" : "s"}})
						</span>
					</span>

					<div v-if="updateVisible === true">
							<h3>
								<!-- Yes, they need to be on one line. With a space right  v here -->
								<span v-if="data.update.name">{{ data.update.name }}</span> <span :class="{ unimportant: !!data.update.name }" v-if="data.update.version">{{ data.update.version }}</span>
							</h3>
							
							<pre>{{ data.update.changelog }}</pre>
							
							<hr />
							
						</p>
					</div>

					<p>
					{{ data.game.description ?? "Loading" }}
					</p>
				</div>
			</div>

			<iframe
				v-if="data.game"
				:src="data.game.link"
				frameborder="0"
				id="game"
			></iframe>

			<div id="chat">
				<div id="messages">
					<p v-for="message in data.chat">{{ message }}</p>
				</div>
				<div id="chat-footer">
					<input
					type="text"
					:disabled="!user"
					v-model="composingChat"
					:placeholder="user ? 'Enter to send' : 'Sign up to chat'"
					@keyup="attemptSendChat"
					/>
				</div>
			</div>

			<div class="flex-centerhoriz">
				<div id="comments">
					<textarea
						id="compose-comment"
						v-model="composingComment"
						placeholder="What do you think about this game?"
					></textarea><br>
					<button @click="publishComment" class="floatright">Submit Comment</button>
					<h4>Newest Comments</h4>
					<div v-for="comment in data.comments" class="comment">
						<div class="comment-info">
							<a :href="'/user/' + comment.author" class="masked-link">
								<small-pfp :id="comment.author"></small-pfp>
								{{ users[comment.author].name }}
							</a>
							<div class="floatright">
								{{ comment.score > 0 ? "+" : "" }}{{ comment.score }}
								<button
									v-if="user"
									@click="cvote(comment.id, 1)"
									id="cvote-agree"
									:class="{ cvote: true, picked: comment.yourVote === 1 }"
								>
									+
								</button>
								<button
									v-if="user"
									@click="cvote(comment.id, -1)"
									id="cvote-disagree"
									:class="{ cvote: true, picked: comment.yourVote === -1 }"
								>
									-
								</button>
								<button v-if="data.game.author === user.id" id="replybtn" @click="replyingTo = comment.id; composingReply = comment.devResponse ?? ''">Reply</button>
							</div>
						</div>
						{{ comment.content }}
						<div v-if="comment.devResponse" class="dev-reply">
							<strong>Developer response:</strong> {{ comment.devResponse }}
						</div>
						<div v-if="replyingTo === comment.id">
							<textarea id="reply" placeholder="Write your response..." v-model="composingReply"></textarea>
							<button id="postreply" @click="reply">Reply</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
