<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>galaxy - edit game</title>

	<script src="//unpkg.com/vue@3"></script>
	<script src="/js/libgalaxy.js"></script>
	<script defer src="/js/edit.js"></script>

	<link rel="stylesheet" href="/style.css" />

	<style>
#main {
	margin-top: 50px;
}

#container {
	width: 500px;
}

#desc {
	width: 500px;
	height: 150px;
}
	</style>
</head>
<body>
	<div id="app">
		<top-bar></top-bar>	

		<h1 v-if="menu === 'loading'">Fetching game data for you...</h1>
		
		<div :style="{ visibility: menu === 'loaded' ? '' : 'hidden' }" class="flex-centerhoriz" id="main">
			<div id="container">

				<h1>Editing <a :href="'/play/' + data.id" class="underline masked-link">{{ data.game.name }}</a></h1>

				<h2>Updates</h2>
				<div>
					Did you just push an update to your game? Tell us about it!
					Updating your game bumps it in the "recently updated" sort.
					Update logs can be viewed by everyone.<br /><br />
					<b>Abuse of update logs to keep your game at #1 can result in a ban.</b>
					<br /><br />
					Name <span class="unimportant">(optional)</span><br />
					<input type="text" v-model="data.update.name">
					<br />

					Version Number <span class="unimportant">(optional)</span><br />
					<input type="text" v-model="data.update.number">
					<br />

					Changelog <span class="unimportant">(max length: 8,096)</span><br />
					<textarea id="desc" v-model="data.update.changelog"></textarea><br />
					<br /><br />

					<button @click="publishUpdate">Update</button>
				</div>

				<h2>Main info</h2>
				<div>
					Name<br />
					<input type="text" v-model="data.game.name"><br />
					Link<br />
					<input type="url" v-model="data.game.link"><br />
					Description<br />
					<textarea id="desc" v-model="data.game.description"></textarea><br />

					<button @click="updateMain">Save</button>
				</div>

				<h2>Tags</h2>
				<div>
					Help potential players find your games by giving them tags relevant to the game.
					You can only put 3 tags on your game.
					<h4>Active Tags</h4>
					<button v-for="tag in data.game.tags" @click="removeTag(tag)">{{ tag }}</button>

					<h4>Inactive Tags</h4>
					<button v-for="tag in inactiveTags" @click="applyTag(tag)">{{ tag }}</button>

					<br />
					<br />

					<button @click="updateTags">Save</button>
				</div>

				<h2>Thumbnail</h2>
				<div>
					<img v-if="data.id" :src="'/static/img/thumb/large/' + data.id + '.webp#' + thumbState" />
					<br />
					Thumbnails are designed to be 500x300. They can also appear at smaller sizes, but they will always have the 5:3 aspect ratio.
					<form id="thumbForm" method="post" action="/api/games/thumb" enctype="multipart/form-data" @submit.cancel.stop="thumbForm">
						<input type="file" name="image" accept="image/*" /><br />
						<!-- So I can insert the game ID into the multipart form LOL -->
						<input type="number" name="id" style="display: none" v-model="data.id">
						<input type="submit" value="Upload" />
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>