<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>galaxy - user</title>

	<script src="//unpkg.com/vue@3"></script>
	<script src="/js/libgalaxy.js"></script>
	<script src="/js/user.js"></script>

	<link rel="stylesheet" href="/style.css" />

	<style>
		#main {
			margin-top: 50px;
		}
	</style>
</head>
<body onload="galaxy.init('loading')">
	<div id="app">
		<top-bar></top-bar>	

		<h1 v-if="menu === 'loading'"></h1>
		
		<div v-if="menu === 'loaded'" class="flex-centerhoriz" id="main">
			<div>


				<div style="margin-bottom: 75px;">
					<a :href="'/static/img/pfp/large/' + data.user.id + '.webp'" style="float: left;">
						<large-pfp :id="data.user.id"></large-pfp>
					</a>
					<div style="padding-left: 40px; height: 250px; width: 500px;" class="flex-centervert">
						<div>
							<p style="font-size: 50px; margin-top: 25px; margin-bottom: 25px;">{{ data.user.name }}</p>
							<!-- TODO allow for longer bios (something like a "see more" button?) -->
							<p v-if="data.user.bio !== ''">{{ data.user.bio }}</p>
							<a v-if="data.user.id === user.id" style="display: block" href="/you.html">
								<button>Edit Yourself</button>
							</a>
						</div>
					</div>
				</div>



				<div>
					<p v-if="data.games.length > 0" style="font-size: 25px">Published Games</p>
					<div v-for="game in data.games">
						<a :href="'/play/' + game.id">
							<small-thumb :id="game.id" width="200"></small-thumb>
						</a>
						<div style="float: right;">
							<div class="flex-centervert" style="width: 550px; height: 120px">
								<div>
									<a :href="'/play/' + game.id" class="masked-link" style="font-size: 25px; margin-top: 25px; margin-bottom: 25px;">{{ game.name }}</a>
									<p v-if="game.description">{{ game.description }}</p>
									<a v-if="data.user.id === user.id" :href="'/edit/' + game.id">
										<button>Edit Game</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</body>
</html>