<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>galaxy [BETA]</title>

		<script src="//unpkg.com/vue@3"></script>
		<script src="js/libgalaxy.js"></script>
		<script src="js/index.js"></script>

		<link rel="stylesheet" href="style.css" />

		<style>
#first-grid {
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	width: 825px;
}

.vert-game-list {
	margin: 12.5px;
}

.vert-game-title {
	font-size: 20px;
}

.game {
	margin-top: 15px;
}

.game-name {
	margin: 0px;
	font-size: 22px;
}

.game-more {
	margin: 0;
	font-size: 14px;
}

/* #topGames    { grid-area: 1 / 1 / 1 / 1; }
#newGames    { grid-area: 1 / 2 / 1 / 2; }
#randomGames { grid-area: 1 / 3 / 1 / 3; } */
		</style>
	</head>
	<body onload="galaxy.init('games')">
		<div id="app">
			<!-- <p v-if="loading">Loading...</p> -->

			<top-bar></top-bar>

			<div class="flex-centerhoriz" style="width: 100%">
				<div id="first-grid">
					<game-list-vert name="Top" :games="data.g1"></game-list-vert>
					<game-list-vert name="Recently Updated" :games="data.g2"></game-list-vert>
					<game-list-vert name="Random" :games="data.g3"></game-list-vert>
				</div>
			</div>

			<div :style="{ display: loading ? 'none' : 'block' }">
				<div v-if="menu === 'games'">
					<a href="publish.html" v-if="user"><button>Publish</button></a>
					<ul>
						<li v-for="game in data.games ?? []">
							<a :href="'/play/' + game.id">
								<strong>{{ game.name }}</strong>
							</a>
							<p>{{ game.description }}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
