<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>galaxy</title>

	<script src="//unpkg.com/vue@3"></script>
	<script src="js/libgalaxy.js"></script>
	<script src="js/search.js"></script>

	<link rel="stylesheet" href="style.css" />
</head>
<body onload="galaxy.init()">
	<div id="app">
		<top-bar></top-bar>		
		
		<input type="text" v-model="query.term" placeholder="Enter something...">
		<button @click="search()">Search</button>
		
		<div>
			<div v-for="game in games">
				<a :href="'/play/' + game.id" class="masked-link">
					<small-thumb :id="game.id"></small-thumb> {{ game.name }} - {{ game.description }}
				</a>
			</div>
		</div>
	</div>
</body>
</html>