<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>galaxy - sign up</title>

		<script src="//unpkg.com/vue@3"></script>
		<script src="js/libgalaxy.js"></script>

		<link rel="stylesheet" href="style.css" />
		<style>
			#main {
				text-align: center;
			}

			form input {
				margin: 10px;
			}

			#enter-button {
				background: #000;
				color: #fff;
				padding: 25px;
				font-size: 25px;
				width: 250px;
				cursor: pointer;
				text-shadow: 2px 2px 0 gray;

				border: solid thin white;
				border-radius: 25px;

				font-family: monospace;

				transition: 1s text-shadow;
			}

			#enter-button:hover {
				text-shadow: 2px 2px 0 gray, 0 0 5px white;

				animation: enter-anim 2s infinite;
			}

			@keyframes enter-anim {
				0% {
					background-color: #000;
				}
				50% {
					background-color: #333;
				}
				100% {
					background-color: #000;
				}
			}
		</style>
	</head>
	<body>
		<div id="app">



			<top-bar></top-bar>


			<div id="main">
				<div v-if="menu === 'signup'">
					<h2 v-if="user">
						Why are you here? You have an account...
					</h2>
					<h1>Welcome to Galaxy</h1>
					<p>
						To publish games, give feedback, chat, and more, create
						an account.<br />
						<!-- TODO https://github.com/dropbox/zxcvbn -->
						<em>
							Use a strong password. Can't think of one? Consider
							using a password manager.
						</em>
					</p>

					<!-- TODO more client side form validation stuff -->
					<form
						id="signup"
						action="/api/users/signup"
						method="POST"
						@submit.cancel.stop="ev"
					>
						<input
							type="text"
							name="name"
							placeholder="Username"
							required
						/><br />
						<input
							type="email"
							name="email"
							placeholder="Email"
							required
						/><br />
						<input
							type="password"
							name="password"
							placeholder="Password"
							required
						/><br />
						<button id="enter-button" type="submit" role="button">
							&gt; Enter
						</button>
					</form>
				</div>

				<div v-if="menu === 'success'">
					<h1>Congratulations</h1>
					<p>
						Thanks for making an account. We promise you won't
						regret it :)<br />
						You'll need to reload other tabs for the account change
						to take effect.
					</p>
				</div>
			</div>



		</div>
	</body>

	<script>
		galaxy.init("signup");

		app.ev = galaxy.form("signup", ["name", "email", "password"], res => {
			if (res.name) {
				galaxy.alert.success("Account created!");
				user = {
					name: res.name,
					email: res.email,
					id: res.id,
				};
				app.menu = "success";
				localStorage.user = JSON.stringify(user);
			}
		});
	</script>
</html>
