h3 {
	margin: 0;
}

body, textarea {
	margin: 0;
	background: #111;
	color: #eee;

	/* TODO import inter somewhere */
	font-family: "Inter", sans-serif;
}

button {
	appearance: none;
	border-radius: 7px;
	background: #444;
	color: #fff;
	border: solid thin #888;
	padding: 5px;
}

textarea {
	background-color: #222;
	border: none;
	resize: none;
	padding: 7px;
}

input {
	padding: 5px;
	background: #222;
	color: #eee;
	border: none;
}

#top {
	line-height: 32px;
	height: 32px;
	background: #222;
	color: white;
}

#galaxy-top-text {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

#top-noaccount a {
	color: white;
}

#top-noaccount input {
	width: 125px;
}

.alert {
	position: absolute;
	top: 42px;
	left: 10px;
	right: 10px;
	padding: 15px;

	background: #eee;
	color: #111;
}

.alert-red {
	background: #fdd;
	color: #811;
}

.alert-blue {
	background: #ddf;
	color: #118;
}

.alert-green {
	background: #dfd;
	color: #181;
}

.alert-close {
	cursor: pointer;
	float: right;
	text-decoration: underline;
}

.masked-link {
	color: inherit;
	text-decoration: none;
}

.fake-link {
	color: #bbb;
	text-decoration: underline;
	cursor: pointer;
}

.unimportant {
	color: #888;
}

.padright {
	margin-right: 5px;
}





.flex-centerhoriz {
	display: flex;
	justify-content: center;
}

.flex-centervert {
	display: flex;
	align-items: center;
}

.floatright {
	float: right;
}

.nomargin {
	margin: 0;
}