<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>galaxy - edit profile</title>

		<script src="//unpkg.com/vue@3"></script>
		<script src="/js/libgalaxy.js"></script>
		<script src="/js/you.js" defer></script>

		<link rel="stylesheet" href="/style.css" />

		<style>
			#main {
				text-align: center;

				margin-top: 100px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<top-bar></top-bar>

			<div id="main" v-if="user">
				<h1>This is you.</h1>

				<img
					:src="'/static/img/pfp/large/' + user.id + '.webp#' + pfpState"
					alt=""
				/>

				<h2>Hello, {{ user.name }}.</h2>

				<button @click="menu = 'pfp'">Change Profile Picture</button>
				<button @click="menu = 'bio'">Change Bio</button>
				<button>Change Name (COMING SOON)</button>
				<button>Manage Games (COMING SOON)</button><br>
				<button onclick="galaxy.logout()">Log out</button>

				<div :style="{ display: menu === 'pfp' ? 'block' : 'none' }">
					Recommended size: 256x256
					<form id="pfpForm" method="post" action="/api/users/pfp" enctype="multipart/form-data" @submit.cancel.stop="pfpForm">
						<input type="file" name="image" accept="image/*" /><br /><br />
						<input type="submit" value="Upload" />
					</form>
				</div>
				
				<div :style="{ display: menu === 'bio' ? 'block' : 'none' }">
					<form id="bioForm" method="post" action="/api/users/bio" @submit.cancel.stop="bioForm">
						<textarea form="bioForm" name="bio" v-model="bio"></textarea><br /><br />
						<input type="submit" value="Change" />
					</form>
				</div>
			</div>

			<h1 v-else>You need to log in or sign up to view this page.</h1>
		</div>
	</body>
</html>
